@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9f7;
  --text-dark: #000;
  --text-grey: #e2e4e2;
  --background_dark: #001d21;
  --foreground: #171717;
  --dashboard_sidebar_color: #161818;
  --sidebar_hover: #282c2b;
  --green_active_bg: #cdeed3;
  --green_active_color: #347345;
  --pending_background: #deddff;
  --pending_color: #3e3aff;
  --delay_background: #020202;
  --delay_color: #a37d18;
  --delay_2: #f3f3f1;
  --button_color: #002b31;
  --grey_1: #f8f9f7;
  --dashbaord_width: 16rem;
  --dashoard_font-size: 13px;
  --shadow_color: #e7e7e9;
  /* --dashboard_sidebar_color: #e1e3e3; */
}

body {
  color: var(--text-dark);
  font-family: "Karla", Helvetica, sans-serif;
}
.family2 {
  font-family: "Kumbh Sans", Helvetica, sans-serif;
}
/* 
text color style
*/
.text-dark {
  color: var(--text-dark);
}
.text-grey {
  color: var(--text-grey);
}
/* 
text color style end
*/
/* button styles */
.btn {
  min-height: 50px;
  /* min-width: 130px; */
  border-radius: 50px;
  background-color: var(--button_color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  transition: all 0.3s;
  border: 1px solid var(--background_dark);
}

.btn.btn_2 {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--button_color);
  transition: all 0.3s;
}
.btn:hover {
  border: 1px solid var(--background_dark);
  color: #fff;
  box-shadow: 0 0 0 6px var(--shadow_color);
  transition: all 0.3s;
}
.btn.btn_2:hover {
  color: var(--button_color);
  transition: all 0.3s;
  border: 1px solid var(--background_dark);
  box-shadow: 0 0 0 6px var(--shadow_color);
}
/* button styles stop */

/* input styles */
form input {
  min-height: 49px;
  /* min-width: 130px; */
  border-radius: 5px;
  background-color: inherit;
  transition: all 0.3s;
  border: 1.5px solid #e7e7e9;
  padding: 0 1rem;
}

form input:hover {
  box-shadow: 0 0 0 6px var(--shadow_color);
  transition: all 0.3s;
  outline: 1px solid #5d5d5e;
}
input:focus {
  box-shadow: 0 0 0 6px var(--shadow_color);
  transition: all 0.3s;
  outline: 1px solid #5d5d5e;
}
/* input styles stop */
.shadows:hover {
  border: 1px solid var(--background_dark);
  box-shadow: 0 0 0 6px var(--shadow_color);
  transition: all 0.3s;
}

.sidebar_shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #f3f3f3;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
  transition: all 0.5s;
}
